index.pug
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Роснефть 123
	link(href='css/main.css', rel='stylesheet')
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(content="width=device-width" name="viewport")
body
	.wrapper
		.grid
			.grid-column.grid-column_1of5
				.row.row-fuel-name
					.fuel-name.fuel-name-92
						span 92
				.row.row-fuel-name
					.fuel-name.fuel-name-95
						span 95
				.row.row-fuel-name
					.fuel-name.fuel-name-98
						span 98
				.row.row-fuel-name
					.fuel-name.fuel-name-DT
						span ДТ

			.grid-column.grid-column_3of5

				.row.row-black.jq-fuel.fuel-92(data-name="fuel-92")
					input.jq-fuel-price(type="hidden" value="34.92")
					.cell.cell-unit.cell-unit-1
						ul.cell-numbers.lightSlider(data-fuel="fuel-92" data-unit="1")
					.cell.cell-unit.cell-unit-2
						ul.cell-numbers.lightSlider(data-fuel="fuel-92" data-unit="2")
					.cell
						.cell-numbers.cell-numbers-dot
							span .
					.cell.cell-unit.cell-unit-3
						ul.cell-numbers.lightSlider(data-fuel="fuel-92" data-unit="3")
					.cell.cell-unit.cell-unit-4
						ul.cell-numbers.lightSlider(data-fuel="fuel-92" data-unit="4")
				
				.row.row-black.jq-fuel.fuel-95(data-name="fuel-95")
					input.jq-fuel-price(type="hidden" value="34.93")
					.cell.cell-unit.cell-unit-1
						ul.cell-numbers.lightSlider(data-fuel="fuel-95" data-unit="1")
					.cell.cell-unit.cell-unit-2
						ul.cell-numbers.lightSlider(data-fuel="fuel-95" data-unit="2")
					.cell
						.cell-numbers.cell-numbers-dot
							span .
					.cell.cell-unit.cell-unit-3
						ul.cell-numbers.lightSlider(data-fuel="fuel-95" data-unit="3")
					.cell.cell-unit.cell-unit-4
						ul.cell-numbers.lightSlider(data-fuel="fuel-95" data-unit="4")
				
				.row.row-black.jq-fuel.fuel-98(data-name="fuel-98")
					input.jq-fuel-price(type="hidden" value="34.95")
					.cell.cell-unit.cell-unit-1
						ul.cell-numbers.lightSlider(data-fuel="fuel-98" data-unit="1")
					.cell.cell-unit.cell-unit-2
						ul.cell-numbers.lightSlider(data-fuel="fuel-98" data-unit="2")
					.cell
						.cell-numbers.cell-numbers-dot
							span .
					.cell.cell-unit.cell-unit-3
						ul.cell-numbers.lightSlider(data-fuel="fuel-98" data-unit="3")
					.cell.cell-unit.cell-unit-4
						ul.cell-numbers.lightSlider(data-fuel="fuel-98" data-unit="4")
				
				.row.row-black.jq-fuel.fuel-dt(data-name="fuel-dt")
					input.jq-fuel-price(type="hidden" value="34.82")
					.cell.cell-unit.cell-unit-1
						ul.cell-numbers.lightSlider(data-fuel="fuel-dt" data-unit="1")
					.cell.cell-unit.cell-unit-2
						ul.cell-numbers.lightSlider(data-fuel="fuel-dt" data-unit="2")
					.cell
						.cell-numbers.cell-numbers-dot
							span .
					.cell.cell-unit.cell-unit-3
						ul.cell-numbers.lightSlider(data-fuel="fuel-dt" data-unit="3")
					.cell.cell-unit.cell-unit-4
						ul.cell-numbers.lightSlider(data-fuel="fuel-dt" data-unit="4")
				
			.grid-column.grid-column_1of5
				img.logo-1.img-responsive(src="logo.jpg", alt="")
				button#f_price
					svg(width="170px" height="139px" viewBox="0 0 170 139" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
						g#okButton(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
							polygon#okPolygon(fill="#00A050" points="26 54 57 86 143 2.1964187e-14 170 28 59 139 0 80")

				img.logo-2.img-responsive(src="logo2.jpg", alt="")
	script(src="js/jquery-1.11.3.js")
	script(src="js/lightslider.min.js")
	script(src="js/main.js")

index.html
<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <title>Роснефть 123</title>
  <link href="css/main.css" rel="stylesheet"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta content="width=device-width" name="viewport"/>
</head>
<body>
  <div class="wrapper">
    <div class="grid">
      <div class="grid-column grid-column_1of5">
        <div class="row row-fuel-name">
          <div class="fuel-name fuel-name-92"><span>92</span></div>
        </div>
        <div class="row row-fuel-name">
          <div class="fuel-name fuel-name-95"><span>95</span></div>
        </div>
        <div class="row row-fuel-name">
          <div class="fuel-name fuel-name-98"><span>98</span></div>
        </div>
        <div class="row row-fuel-name">
          <div class="fuel-name fuel-name-DT"><span>ДТ</span></div>
        </div>
      </div>
      <div class="grid-column grid-column_3of5">
        <div class="row row-black jq-fuel fuel-92" data-name="fuel-92">
          <input class="jq-fuel-price" type="hidden" value="34.92"/>
          <div class="cell cell-unit cell-unit-1">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-92" data-unit="1"></ul>
          </div>
          <div class="cell cell-unit cell-unit-2">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-92" data-unit="2"></ul>
          </div>
          <div class="cell">
            <div class="cell-numbers cell-numbers-dot"><span>.</span></div>
          </div>
          <div class="cell cell-unit cell-unit-3">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-92" data-unit="3"></ul>
          </div>
          <div class="cell cell-unit cell-unit-4">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-92" data-unit="4"></ul>
          </div>
        </div>
        <div class="row row-black jq-fuel fuel-95" data-name="fuel-95">
          <input class="jq-fuel-price" type="hidden" value="34.93"/>
          <div class="cell cell-unit cell-unit-1">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-95" data-unit="1"></ul>
          </div>
          <div class="cell cell-unit cell-unit-2">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-95" data-unit="2"></ul>
          </div>
          <div class="cell">
            <div class="cell-numbers cell-numbers-dot"><span>.</span></div>
          </div>
          <div class="cell cell-unit cell-unit-3">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-95" data-unit="3"></ul>
          </div>
          <div class="cell cell-unit cell-unit-4">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-95" data-unit="4"></ul>
          </div>
        </div>
        <div class="row row-black jq-fuel fuel-98" data-name="fuel-98">
          <input class="jq-fuel-price" type="hidden" value="34.95"/>
          <div class="cell cell-unit cell-unit-1">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-98" data-unit="1"></ul>
          </div>
          <div class="cell cell-unit cell-unit-2">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-98" data-unit="2"></ul>
          </div>
          <div class="cell">
            <div class="cell-numbers cell-numbers-dot"><span>.</span></div>
          </div>
          <div class="cell cell-unit cell-unit-3">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-98" data-unit="3"></ul>
          </div>
          <div class="cell cell-unit cell-unit-4">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-98" data-unit="4"></ul>
          </div>
        </div>
        <div class="row row-black jq-fuel fuel-dt" data-name="fuel-dt">
          <input class="jq-fuel-price" type="hidden" value="34.82"/>
          <div class="cell cell-unit cell-unit-1">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-dt" data-unit="1"></ul>
          </div>
          <div class="cell cell-unit cell-unit-2">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-dt" data-unit="2"></ul>
          </div>
          <div class="cell">
            <div class="cell-numbers cell-numbers-dot"><span>.</span></div>
          </div>
          <div class="cell cell-unit cell-unit-3">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-dt" data-unit="3"></ul>
          </div>
          <div class="cell cell-unit cell-unit-4">
            <ul class="cell-numbers lightSlider" data-fuel="fuel-dt" data-unit="4"></ul>
          </div>
        </div>
      </div>
      <div class="grid-column grid-column_1of5"><img class="logo-1 img-responsive" src="logo.jpg" alt=""/>
        <button id="f_price">
          <svg width="170px" height="139px" viewBox="0 0 170 139" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="okButton" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <polygon id="okPolygon" fill="#00A050" points="26 54 57 86 143 2.1964187e-14 170 28 59 139 0 80"></polygon>
            </g>
          </svg>
        </button><img class="logo-2 img-responsive" src="logo2.jpg" alt=""/>
      </div>
    </div>
  </div>
  <script src="js/jquery-1.11.3.js"></script>
  <script src="js/lightslider.min.js"></script>
  <script src="js/main.js"></script>
</body>
